body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.LoginIn{
  position:relative;
  background-color:#EDEEF0;
  width:100%;
  height:700px;  
}

.divForm{
  position:absolute;
  top:10%;
  left:20%;
  width:744px;
  height:600px;
  border-radius:5px;
  background-color: white;
}

.login_form{
  margin-top:10%;
  margin-left:30%;
  display:grid;
  grid-gap:10px;
}




.LoginIn input{
  padding-left:5px;
  height:36px;
  width:272px;
}

.LoginIn div h1{
  color:#333333;
  font-size:25px;
  margin-left:30%;
}

.buttonB{
  cursor:pointer;
  font-size: 29px;
  color:white;
  background-color: #005AB5;
  border:none;
  border-radius:5px;
  width:272px;
  height:43px;
}